apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

# Add environment label
commonLabels:
  environment: dev

patches:
  # Patch the ApplicationSet to filter only dev environment directories
  - patch: |-
      - op: replace
        path: /spec/generators/0/git/directories/0/path
        value: _apps/*/envs/dev
    target:
      kind: ApplicationSet
      name: argocd-example-apps
